<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nébula Music - Iniciar Sesión</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>

    <main class="auth-container">
        <section class="auth-card">
            <h1>Iniciar sesion</h1>
        <form method="post" action="/autentication" enctype="application/x-www-form-urlencoded">
            <div>
                <label for="email">Email: </label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="usuario@dominio"
                    required minlength="5"
                    maxlength="100"
                >
            </div>

            <div>
                <label for="contrasena">Contraseña: </label>
                <input
                    type="password"
                    id="contrasena"
                    name="contrasena"
                    required
                    minlength="8"
                    autocomplete="off"
                >
            </div>

            <div>
                <button type="submit">Iniciar sesion</button>
                <button type="reset">Limpiar formulario</button>
            </div>
        </form>

            <p>
                ¿No tienes una cuenta? <a href="registro.html">Registrate aqui</a>
            </p>
        </section>
    </main>

    <footer>
        <p>Copyright Nébula 2025.</p>
    </footer>

</body>
</html>
